/* the loading */

.loading {
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    background: #fff;
}

.loader {
    left: 50%;
    margin-left: -4em;
    font-size: 10px;
    border: .8em solid rgba(218, 219, 223, 1);
    border-left: .8em solid rgba(58, 166, 165, 1);
    animation: spin 1.1s infinite linear;
}

.loader, .loader:after {
    border-radius: 50%;
    width: 8em;
    height: 8em;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -4.05em;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* menu items */

#jscode, .jside, .editor, .menu, .menu > tbody > tr > td > * {
	width: 100%;
}

#jscode, .jside, .editor, .td-editor {
	height: 100%;
}

.td-menu {
	vertical-align: top;
	
	min-width: 200px;
	width: 15%;
	max-width: 250px;
}

.menu > tbody > tr > td > * {
	display: block;
}

#jscode {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.log {
	resize: vertical;
}

/* dark theme */

body {
	background-color: #1d1d1d;
}

textarea, button, input, select {
	color: #fff;
	background-color: #333;
	border-color: #222;
}

textarea:disabled, button:disabled, input:disabled, select:disabled {
	color: #aaa;
	background-color: #1f1f1f;
	border-color: #1e1e1e;
}